<div class="container bg-light p-5 m-5 text-center">
    <h1 class="my-5">
        About
    </h1>
    <p class="my-5">
        About us page
    </p>
    <%= link_to "Home", root_path, class:"btn btn-primary p-2 m-5" %>
</div>