<div>
    <h1 class="my-5">
        Welcome to My App Home Page
    </h1>
    <p class="my-5">
        This is a Sample App developped by <br> Joe M. Mazloum <br> based on Ruby On Rails programming Laguage
    </p>
    <%= link_to "Register", "/register", class:"btn btn-primary p-2 m-5" %>
</div>