<%= render @micropost %>

<div>
  <%= link_to "Edit this micropost", edit_micropost_path(@micropost) %> |
  <%= link_to "Back to microposts", microposts_path %>

  <%= button_to "Destroy this micropost", @micropost, class:"btn btn-danger", method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this micropost?' } %>
</div>
