<footer class="container-fluid bg-secondary m-0 p-5">
    <div class="row">
        <div class="col-4 my-auto">
          <%= image_tag "rails.png", class:"img-fluid" %>
        </div>
        <div class="col-4 my-auto text-center">
          <p>copyrigth @ 2022 by Joe Mazloum</p>
        </div>
        <div class="col-4 my-auto">
          <ul>
            <li>facebook</li>
            <li>instagram</li>
            <li>twitter</li>
          </ul>
        </div>
    </div>
</footer>