<% @user ||= current_user %>
<div class="row text-center m-2">
    <div class="col-4">
        Following : <%= current_user.following.count %>
    </div>
    <div class="col-4">
        Followers : <%= current_user.followers.count %>
    </div>
    <div class="col-4">
        <% unless current_user?(@user) %>
            <% if current_user.following?(@user) %>
                <%= render "unfollow" %>
            <% else %>
                <%= render "follow" %>
            <% end %>
        <% end %>
    </div>    
</div>